
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501728859644'); /* IE9*/
  src: url('iconfont.eot?t=1501728859644#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501728859644') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501728859644') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501728859644#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before { content: "\e65f"; }

.icon-line:before { content: "\e688"; }

.icon-italic:before { content: "\e7fe"; }

.icon-link:before { content: "\e66f"; }

.icon-underline:before { content: "\e823"; }

.icon-font-color:before { content: "\e6b3"; }

.icon-ul:before { content: "\e683"; }

.icon-quote:before { content: "\e8cf"; }

.icon-image:before { content: "\e627"; }

.icon-font-size:before { content: "\e931"; }

.icon-paragraph:before { content: "\e7a4"; }

.icon-strikethrough:before { content: "\e61b"; }

.icon-justify:before { content: "\e80d"; }

.icon-eraser:before { content: "\e71c"; }

.icon-align-left:before { content: "\e600"; }

.icon-align-right:before { content: "\e601"; }

.icon-heading:before { content: "\e620"; }

.icon-bold:before { content: "\e71b"; }

.icon-table:before { content: "\e813"; }

.icon-cloudupload:before { content: "\e604"; }

.icon-trash:before { content: "\e602"; }

.icon-align-center:before { content: "\e630"; }

.icon-ol:before { content: "\e93c"; }

